name: Build Windows Executable

on:
  push:
    branches: [master]

jobs:
  build-windows:
    runs-on: windows-latest  # Usamos un entorno de Windows
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'  # Usamos Python 3.12

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pyinstaller

      - name: Build with PyInstaller for Windows
        run: |
          pyinstaller Gestion_frenceken.spec  # Usamos el archivo .spec para Windows

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: windows-executable
          path: dist/  # Carpeta donde PyInstaller genera el ejecutable


